<nav>
    <ul>
        <li><a href="/fullEpisodes">Full Episodes</a></li>
        <li><a href="/index">Home</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href= "episode link...">Click HERE to watch the Full Episode</a></li>
    </ul>
</nav>